---
http_interactions:
- request:
    method: post
    uri: https://routes.googleapis.com/distanceMatrix/v2:computeRouteMatrix
    body:
      encoding: UTF-8
      string: '{"origins":[{"waypoint":{"placeId":"origin1"}},{"waypoint":{"placeId":"origin2"}}],"destinations":[{"waypoint":{"placeId":"dest1"}},{"waypoint":{"placeId":"dest2"}}],"routingPreference":"TRAFFIC_AWARE","travelMode":"DRIVE"}'
    headers:
      X-Goog-Fieldmask:
      - originIndex,destinationIndex,status,condition,distanceMeters,duration
      X-Goog-Api-Key:
      - "<FILTERED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "[{\n  \"originIndex\": 1,\n  \"destinationIndex\": 1,\n  \"status\":
        {\n    \"code\": 3,\n    \"message\": \"Place ID \\\"origin2\\\" is invalid.\"\n
        \ }\n}\n,\r\n{\n  \"originIndex\": 1,\n  \"destinationIndex\": 0,\n  \"status\":
        {\n    \"code\": 3,\n    \"message\": \"Place ID \\\"origin2\\\" is invalid.\"\n
        \ }\n}\n,\r\n{\n  \"originIndex\": 0,\n  \"destinationIndex\": 0,\n  \"status\":
        {\n    \"code\": 3,\n    \"message\": \"Place ID \\\"origin1\\\" is invalid.\"\n
        \ }\n}\n,\r\n{\n  \"originIndex\": 0,\n  \"destinationIndex\": 1,\n  \"status\":
        {\n    \"code\": 3,\n    \"message\": \"Place ID \\\"origin1\\\" is invalid.\"\n
        \ }\n}\n]"
  recorded_at: Thu, 04 Jul 2024 19:07:58 GMT
recorded_with: VCR 6.2.0
