---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=4705%20Weitzel%20Street,%20Timnath,%20CO,%2080547&key=<FILTERED>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"4705\",\n
        \              \"short_name\" : \"4705\",\n               \"types\" : \n               [\n
        \                 \"street_number\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Weitzel Street\",\n               \"short_name\"
        : \"Weitzel Street\",\n               \"types\" : \n               [\n                  \"route\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Fort Collins\",\n               \"short_name\" : \"Fort Collins\",\n               \"ty[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=151%20N%20College%20Ave,%20Fort%20Collins,%20CO,%2080524&key=<FILTERED>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components[...]
- request:
    method: post
    uri: https://routes.googleapis.com/distanceMatrix/v2:computeRouteMatrix
    body:
      encoding: UTF-8
      string: '{"origins":[{"waypoint":{"placeId":"ChIJ0zbP73SzbocR7mXVIY-QdBM"}},{"waypoint":{"placeId":"ChIJ0zbP73SzbocR7mXVIY-QdBM"}}],"destinations":[{"waypoint":{"placeId":"ChIJ0zbP73SzbocR7mXVIY-QdBM"}},{"waypoint":{"placeId":"ChIJ0zbP73SzbocR7mXVIY-QdBM"}}],"routingPreference":"TRAFFIC_AWARE","travelMode":"DRIVE"}'
    headers:
      X-Goog-Fieldmask:
      - originIndex,destinationIndex,status,condition,distanceMeters,duration
      X-Goog-Api-Key:
      - "<FILTERED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "[{\n  \"originIndex\": 0,\n  \"destinationIndex\": 0,\n  \"status\":
        {},\n  \"duration\": \"0s\",\n  \"condition\": \"ROUTE_EXISTS\"\n}\n,\r\n{\n
        \ \"originIndex\": 0,\n  \"destinationIndex\": 1,\n  \"status\": {},\n  \"duration\":
        \"0s\",\n  \"condition\": \"ROUTE_EXISTS\"\n}\n,\r\n{\n  \"originIndex\":
        1,\n  \"destinationIndex\": 1,\n  \"status\": {},\n  \"duration\": \"0s\",\n
        \ \"condition\": \"ROUTE_EXISTS\"\n}\n,\r\n{\n  \"originIndex\": 1,\n  \"destinationIndex\":
        0,\n  \"status\": {},\n  \"duration\": \"0s\",\n  \"condition\": \"ROUTE_EXISTS\"\n}\n]"
  recorded_at: Thu, 04 Jul 2024 19:07:38 GMT
recorded_with: VCR 6.2.0
