---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=711%20Oval%20Drive,%20Fort%20Collins,%20CO,%2080521&key=<FILTERED>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"Ammons Hall\",\n
        \              \"short_name\" : \"Ammons Hall\",\n               \"types\"
        : \n               [\n                  \"premise\"\n               ]\n            },\n
        \           {\n               \"long_name\" : \"711\",\n               \"short_name\"
        : \"711\",\n               \"types\" : \n               [\n                  \"street_number\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Oval Drive\",\n               \"short_name\" : \"Oval Dr\",\n               \"types\"
        : \n               [\n[...]
