---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=4705%20Weitzel%20Street,%20Timnath,%20CO,%2080547&key=<FILTERED>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"4705\",\n
        \              \"short_name\" : \"4705\",\n               \"types\" : \n               [\n
        \                 \"street_number\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Weitzel Street\",\n               \"short_name\"
        : \"Weitzel Street\",\n               \"types\" : \n               [\n                  \"route\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Fort Collins\",\n               \"short_name\" : \"Fort Collins\",\n               \"ty[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=151%20N%20College%20Ave,%20Fort%20Collins,%20CO,%2080524&key=<FILTERED>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%20216%20N%20College%20Ave%20%23110,%20Fort%20Collins,%20CO,%2080524&key=<FILTERED>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"addres[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=501%20W%2020th%20St,%20Greeley,%20CO,%2080639&key=<FILTERED>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        [...]
