---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1221%20E%20Elizabeth%20St,%20Fort%20Collins,%20CO,%2080524&key=<FILTERED>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"1221\",\n
        \              \"short_name\" : \"1221\",\n               \"types\" : \n               [\n
        \                 \"street_number\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"East Elizabeth Street\",\n               \"short_name\"
        : \"E Elizabeth St\",\n               \"types\" : \n               [\n                  \"route\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Fort Collins\",\n               \"short_name\" : \"Fort Collins\",\n            [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2121%20E%20Harmony%20Rd%20%23%20180,%20Fort%20Collins,%20CO,%2080528&key=<FILTERED>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"addres[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1024%20S%20Lemay%20Ave,%20Fort%20Collins,%20CO,%2080524&key=<FILTERED>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1106%20E%20Prospect%20Rd,%20Fort%20Collins,%20CO,%2080525&key=<FILTERED>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_component[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1939%20Wilmington%20Dr,%20Fort%20Collins,%20CO,%2080528&key=<FILTERED>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1107%20S%20Lemay%20Ave,%20Suite%20240,%20Fort%20Collins,%20CO,%2080524&key=<FILTERED>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"addr[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=4601%20Corbett%20Dr,%20Fort%20Collins,%20CO,%2080528&key=<FILTERED>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
 [...]
- request:
    method: post
    uri: https://routes.googleapis.com/distanceMatrix/v2:computeRouteMatrix
    body:
      encoding: UTF-8
      string: '{"origins":[{"waypoint":{"placeId":"ChIJK-pLGN5KaYcR3uWeXBYE6ts"}},{"waypoint":{"placeId":"ChIJK-pLGN5KaYcR3uWeXBYE6ts"}},{"waypoint":{"placeId":"ChIJK-pLGN5KaYcR3uWeXBYE6ts"}},{"waypoint":{"placeId":"ChIJK-pLGN5KaYcR3uWeXBYE6ts"}},{"waypoint":{"placeId":"ChIJK-pLGN5KaYcR3uWeXBYE6ts"}},{"waypoint":{"placeId":"ChIJK-pLGN5KaYcR3uWeXBYE6ts"}}],"destinations":[{"waypoint":{"placeId":"ChIJS_rwErJMaYcRp8Q9z60tJjQ"}},{"waypoint":{"placeId":"ChIJRbgIZeBKaYcRRG_TIgGYoIw"}},{"waypoint":{"placeId":"ChIJ4U-oox9LaYcRrCvlPHIAuKI"}},{"waypoint":{"placeId":"ChIJvWJU9rBMaYcRtZ5wHymbrUU"}},{"waypoint":{"placeId":"ChIJ2QtPVOBKaYcR33T96L5lGSA"}},{"waypoint":{"placeId":"ChIJWxLXuU2zbocRgJWHLDl5uNU"}}],"routingPreference":"TRAFFIC_AWARE","travelMode":"DRIVE"}'
    headers:
      X-Goog-Fieldmask:
      - originIndex,destinationIndex,status,condition,distanceMeters,duration
      X-Goog-Api-Key:
      - "<FILTERED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "[{\n  \"originIndex\": 1,\n  \"destinationIndex\": 1,\n  \"status\":
        {},\n  \"distanceMeters\": 205,\n  \"duration\": \"55s\",\n  \"condition\":
        \"ROUTE_EXISTS\"\n}\n,\r\n{\n  \"originIndex\": 3,\n  \"destinationIndex\":
        1,\n  \"status\": {},\n  \"distanceMeters\": 205,\n  \"duration\": \"55s\",\n
        \ \"condition\": \"ROUTE_EXISTS\"\n}\n,\r\n{\n  \"originIndex\": 5,\n  \"destinationIndex\":
        1,\n  \"status\": {},\n  \"distanceMeters\": 205,\n  \"duration\": \"55s\",\n
        \ \"condition\": \"ROUTE_EXISTS\"\n}\n,\r\n{\n  \"originIndex\": 2,\n  \"destinationIndex\":
        1,\n  \"status\": {},\n  \"distan[...]
[...]
