---
http_interactions:
- request:
    method: post
    uri: https://routes.googleapis.com/distanceMatrix/v2:computeRouteMatrix
    body:
      encoding: UTF-8
      string: '{"origins":[{"waypoint":{"placeId":"ChIJWxLXuU2zbocRgJWHLDl5uNU"}},{"waypoint":{"placeId":"ChIJWxLXuU2zbocRgJWHLDl5uNU"}},{"waypoint":{"placeId":"ChIJWxLXuU2zbocRgJWHLDl5uNU"}},{"waypoint":{"placeId":"ChIJWxLXuU2zbocRgJWHLDl5uNU"}},{"waypoint":{"placeId":"ChIJWxLXuU2zbocRgJWHLDl5uNU"}},{"waypoint":{"placeId":"ChIJWxLXuU2zbocRgJWHLDl5uNU"}}],"destinations":[{"waypoint":{"placeId":"ChIJK-pLGN5KaYcR3uWeXBYE6ts"}},{"waypoint":{"placeId":"ChIJS_rwErJMaYcRp8Q9z60tJjQ"}},{"waypoint":{"placeId":"ChIJRbgIZeBKaYcRRG_TIgGYoIw"}},{"waypoint":{"placeId":"ChIJ4U-oox9LaYcRrCvlPHIAuKI"}},{"waypoint":{"placeId":"ChIJvWJU9rBMaYcRtZ5wHymbrUU"}},{"waypoint":{"placeId":"ChIJ2QtPVOBKaYcR33T96L5lGSA"}}],"routingPreference":"TRAFFIC_AWARE","travelMode":"DRIVE"}'
    headers:
      X-Goog-Fieldmask:
      - originIndex,destinationIndex,status,condition,distanceMeters,duration
      X-Goog-Api-Key:
      - "<FILTERED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "[{\n  \"originIndex\": 4,\n  \"destinationIndex\": 1,\n  \"status\":
        {},\n  \"distanceMeters\": 1693,\n  \"duration\": \"280s\",\n  \"condition\":
        \"ROUTE_EXISTS\"\n}\n,\r\n{\n  \"originIndex\": 2,\n  \"destinationIndex\":
        1,\n  \"status\": {},\n  \"distanceMeters\": 1693,\n  \"duration\": \"280s\",\n
        \ \"condition\": \"ROUTE_EXISTS\"\n}\n,\r\n{\n  \"originIndex\": 1,\n  \"destinationIndex\":
        4,\n  \"status\": {},\n  \"distanceMeters\": 1969,\n  \"duration\": \"317s\",\n
        \ \"condition\": \"ROUTE_EXISTS\"\n}\n,\r\n{\n  \"originIndex\": 4,\n  \"destinationIndex\":
        4,\n  \"status\": {},\n  \"di[...]
[...]
