files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_fetch_secrets.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -e

      # Fetch secrets from AWS Secrets Manager
      DB_SECRET_ID="creds"
      DB_PASSWORD=$(aws secretsmanager get-secret-value --secret-id $DB_SECRET_ID --query 'SecretString' --output text | jq -r '.ROUTE_RATER_DATABASE_PASSWORD')
      GOOGLE_API_KEY=$(aws secretsmanager get-secret-value --secret-id $DB_SECRET_ID --query 'SecretString' --output text | jq -r '.GOOGLE_API_KEY')

      # Set environment variables
      echo "export ROUTE_RATER_DATABASE_PASSWORD=${DB_PASSWORD}" >> /opt/elasticbeanstalk/deployment/env
      echo "export GOOGLE_API_KEY=${GOOGLE_API_KEY}" >> /opt/elasticbeanstalk/deployment/env

container_commands:
  01_set_env_vars:
    command: source /opt/elasticbeanstalk/deployment/env && printenv >> /var/log/eb-activity.log

option_settings:
  aws:elasticbeanstalk:container:ruby:environment:
    ROUTE_RATER_DATABASE_PASSWORD: your_database_password_here
    GOOGLE_API_KEY: your_google_api_key_here

  aws:elasticbeanstalk:application:environment:
    ROUTE_RATER_HEALTH_CHECK_PATH: "/rails/health"
